.tabBar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--color-border);
}

.tabBarTitle {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 16px;
  padding-top: 10px;
}

.tabsBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab {
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  font-size: 14px;
}

.tab::after {
  content: "";
  width: 20%;
  height: 4px;
  background-color: var(--color-click);
  left: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 96%;
  border-radius: 5px;
  opacity: 0;
  font-weight: 200;

  transition: all 0.25s ease;
}

.tab:hover {
  background-color: var(--color-hover);
}
.active.tab::after {
  opacity: 1;
  font-weight: 600;
}

.icon {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.25s ease;
}

.icon:hover {
  background-color: var(--color-bg-brand);
}

.icon:hover svg {
  height: auto;
}
