.mainContainer {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  padding-left: 7%;
  padding-right: 7%;
  
}

.mainContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  height: 300vh;
  gap: 10px;
  
}

.content {
  display: flex;
  flex-direction: column;
}
.sidebar {
  background-color: rgb(255, 187, 0);
}

.sidebar {
  width: 40%;
}
.centralContent {
  width: 60%;
  height: 100%;
  
}

/*  */
@media screen and (max-width: 765px) {
  .sidebar {
    display: none;
  }
  .centralContent{
    width:100%
  }
}
/* mobile and tablet */
@media screen and (max-width: 1024px) {
  .mainContent {
    width: calc(100% - 88px);
  }
}

@media screen and (min-width: 1025px) {
}
