:root {
  --color-black: #000000;
  --color-yellow: #ffee59;
  --color-yellow-hover: #fd9827;
  --color-icon: #d3d3d3e3;
  --color-overlay-icon: #c0e5ff;
  --color-blue: #09115d;
  --color-bluelight: #3664f4;
  --color-title: #ffffff;
}
